{%extends 'basic_committee.html'%}



{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>
<body>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
  <br><br><br><br><br><br>
  <div class="container">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Example label</label>
      <input type="text" name="nameProject" class="form-control" id="formGroupExampleInput" placeholder="nameProject">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Another label</label>
      <input type="text" name="fieldProject" class="form-control" id="formGroupExampleInput2" placeholder="field">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Example label</label>
      <input type="text" name="descriptionProject" class="form-control" id="formGroupExampleInput" placeholder="desc">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Another label</label>
      <input type="file" name="fileProject" class="form-control form-control-lg" id="formGroupExampleInput2" placeholder="upload file">
    </div>
    <div class="card-foter">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </div>
</form>
</body>
</html>

{%endblock%}
