{%extends 'basic_committee.html'%}



{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .col{
      margin:10px;
    }
    
  </style>
</head>
<body>
  <h>this page add idea</h>

<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="project idea" aria-label="project idea">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Doctor Name" aria-label="Doctor Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Title" aria-label="Title">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Descrpion" aria-label="Descrpion">
    </div> 
    <div></div>
</div>

</body>
</html>
{%endblock%}
