{%extends 'basic_committee.html'%}



{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>
<body>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
  <div class="row">
  {{from}}

  </div>


  <div class="card-foter">
    <button type="submit" class="btn btn-primary">submit</button>
    </div>

</form>

</body>
</html>
{%endblock%}
