{%extends 'basic_committee.html'%}



{%block content%}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
  .container{
    text-align: center;
  }
  button{
    margin-left:10px;
  }
</style>
</head>
<body>
  <div class="container">
        <table class="table table-bordered">
          <thead>
                <br>
                <br>
                <br>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Group ID</th>
              </tr>
            </thead>
            <tbody>
                {% for n in student %}
                <tr>
                  <th scope="row">#</th>
                  <td>{{n.id_Students}}</td>
                  <td>{{n.name_Students}}</td>
                  <td>{{n.id_groups_fk}}</td>
                {% endfor %}
                </tr>
                
            </tbody>
          </table>
          <br>
          <br>
          <br>
          <br>
          <!-- <form method="POST">
            {% csrf_token %}
            <label>Student ID:</label>
            <input type="text" name="students">
            <label>Group ID:</label>
            <input type="text" name="group">
            <button type="submit" class="btn btn-primary btn-md">Register</button>
          </form>  -->

          <form method="POST">
            {% csrf_token %}
            <label>Choose a Studnet:</label>
            <select name="std">
              {% for std in student %}
              <option value="{{std.id_Students}}">{{std.id_Students}}</option>
              {% endfor %}
            </select>
            <label>Choose a Group:</label>
            <select name="group">
              {% for group in groups %}
              <option value="{{group.id_groups}}">{{group.name_groups}}</option>
              {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
  </div>
          
  </body>
</html> 


{%endblock%}
