{%extends 'basic_committee.html'%}



{%block content%}


<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form class="add-crn">
  <div class="container">
    

    <table class="table table-bordered">
      <thead>
            
          <tr>
            <th scope="col">Student ID</th>            
            <th scope="col">Student Name</th>            
            <th scope="col">Group ID</th>            
            <th scope="col">Edit</th>            
          </tr>
        </thead>
        <tbody>
          
            <tr>
              {%for s in student%}
              
              <td>{{s.id_students}}</td>
              <td>{{s.name_Students}}</td>
              <td>{{s.id_groups_fk}}</td>
              <td><a class="dropdown-item" href="{%url 'Student_update' s.id_students%}">Edit</a></td>

              
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
  </div>

  
</form>

</body>

</html>



{%endblock%}
