{% extends 'baisc_students.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>

<body>


<!DOCTYPE html>
<html>
<head>
  <style>
    .add-crn {
        padding-top:10px;
        margin-top:10px;
    }
</style>
</head>
<body>

<form class="add-crn">
  <div class="container">
    

    <table class="table table-bordered">
      <thead>
            
          <tr>
            <th scope="col">Id Students</th>            
            <th scope="col">Name Students</th> 
            <th scope="col">Group</th>           
               
                     
          </tr>
        </thead>
        <tbody>
          
            <tr>
               {% for gr in grops %}
             
              <td>{{gr.id_students}}</td>
              <td>{{gr.name_Students}}</td>
              <td>{{gr.id_groups_fk}}</td>
              
              
               
             
              
            </tr>
            {% endfor %}
             
        </tbody>
      </table>
      
  </div>

  
</form>
<h3>{{ request.session.name }}<h3>
<ul>
    <li>{{stdname}}</li>
</ul>
</body>

</html>


{% endblock content %}