{%extends 'baisc_doctors.html'%}


{%block content%}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
  .container{
    text-align: center;
  }
  button{
    margin-left:10px;
  }
</style>
</head>
<body>
  <div class="container">
        <table class="table table-bordered">
          <thead>
                <br>
                <br>
                <br>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Group ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">File</th>
                <th scope="col">Choose</th>
              </tr>
            </thead>
            <tbody>
                {% for project in projects  %}

                <tr>
                <th scope="row">{{x|length}}</th>
                
                  <td>{{project.id_groups_fk}}</td>
                  <td>{{project.name_projects}}</td>
                  <td>{{project.descriotion_projects}}</td>
                  <td><a href="{{ project.file_project.url }}">Download</a></td>
                  <td><a class="dropdown-item" href="{%url 'choose_idea' project.id_projects%}">Choose</a></td>

                  {% endfor %}

                </tr>
                
                
            </tbody>
          </table>
  </div>
          
  </body>
</html> 
{%endblock%}