{%extends 'baisc_doctors.html'%}


{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            padding-top:100px;
        }
    </style>
</head>

<body>
    <div class="container">
    <table class="table table-bordered">
        <thead>
              
          <tr>
              <th scope="col">ID Evaluation</th>            
              <th scope="col">ID Groups </th>            
              <th scope="col">ID Doctor 1</th>   
              <th scope="col">ID Doctor 2</th>            
              <th scope="col">ID Doctor 3</th>
              <th scope="col">Upload file</th>                      
            </tr>
          </thead>
          <tbody>
            
              <tr>
                 {% for evaluaion in evaluations %}
               
                <td>{{evaluaion.id_evaluation}}</td>
                <td>{{evaluaion.id_groups_fk}}</td>
                <td>{{evaluaion.id_doctor_fk}}<br><a href="{{evaluaion.file_evaluation.url}}"Dwonload="evaluaion.file_evaluation.url">Dwonload Files</a></td>
                <td>{{evaluaion.id_doctor_fk2}}<br><a href="{{evaluaion.file_evaluation_dr2.url}}"Dwonload="evaluaion.file_evaluation_dr2.url">Dwonload Files</a></td>
                <td>{{evaluaion.id_doctor_fk3}}<br><a href="{{evaluaion.file_evaluation_dr3.url}}"Dwonload="evaluaion.file_evaluation_dr3.url">Dwonload Files</a></td>
                <td><a class="dropdown-item" href="{%url 'doctor_upload_file' evaluaion.id_evaluation%}">Choose</a></td>
                
               
                
              </tr>
               {% endfor %}
               
          </tbody>
  </table>
</div>
</body>
</html>
{%endblock%}