{%extends 'basc_comm.html'%}



{%block content%}
<h>this page add idea</h>

<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="project idea" aria-label="project idea">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Doctor Name" aria-label="Doctor Name">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Title" aria-label="Title">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Descrpion" aria-label="Descrpion">
      </div>
      
  </div>



{%endblock%}
